.search-container {
    width: 80%;
    margin: 0 auto;
    h1 {
        font-size: 80px;
        font-weight: 100;
        color: rgb(48, 48, 48);
        margin: 0;
    }
    form {
        position: relative;
        .fas {
            position: absolute;
            font-size: 40px;
            top: 10px;
            left: 10px;
            color: gray;
        }
        input {
            width: 70%;
            height: 70px;
            padding: 0 0px 0 70px;
            font-size: 25px;
            border: none;
            &:focus {
                outline: none;
            }
        }
        button {
            font-size: 25px;
            height: 70px;
            width: 160px;
            text-align: start;
            background-color: rgb(0, 183, 255);
            border: none;
            border-top-right-radius: 100%;
            transition: 0.4s;
            cursor: pointer;
            color: white;
            font-weight: bold;
            &:hover {
                border-top-right-radius: 60%; 
            }
            &:focus {
                outline: none;
            }
        }
    }
}